@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding:0;
    margin:0;
}

body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto";
}

.background-color {
    position:absolute;
    background-color: rgb(55, 143, 176);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    transform: skewY(-12deg) translateY(-33%);
    z-index: -1;
}

main {
    max-width: 1443.25px;
    margin:auto;
    flex-grow: 1;
    z-index: 1;
}

.profile-container {
    margin:5% 0% 5% 0%;
    display:flex;
}

.profile-image {
    /* width: 464px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me-container {
    box-sizing: border-box;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self:center;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 758px;
    height: 516px;
    padding: 30px;
}

.header-text {
    font-family: "Playfair Display";
    font-size: 48px;
}

.summary {
    font-size: 26px;
    line-height: 1.5;
    color:rgb(78, 78, 77);
}

.contact-me {
    align-self:flex-end;
}

.project-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-container {
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    height:510.4px;
    width:422.4px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-name {
    font-family: "Playfair Display";
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.project-description {
    margin: 0px 0px 0px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

.links {
    height: 30px;
    width: 30px;
    margin-right:auto;
}

footer {
    /* position: absolute; */
    background-color: rgb(55, 143, 176);
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 1;
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size:26px;
    max-width:450px;
}

.footer-contact-icon {
    height: 50px;
    width: 50px;
}