@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding:0;
    margin:0;
}

body, .profile-container, .about-me-container, .project-flexbox, .project-container, footer, .contact-information, .footer-contact-icons-container {
    display: flex;
}

body, .about-me-container, .project-container, .contact-information {
    flex-direction: column;
}

body {
    font-family: "Roboto";
}

.background-color {
    position:absolute;
    background-color: rgb(55, 143, 176);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    transform: skewY(-12deg) translateY(-33%);
    z-index: -1;
}

main {
    max-width: 1443.25px;
    margin:auto;
    flex-grow: 1;
    z-index: 1;
}

.profile-container {
    margin:5% 0% 5% 0%;
}

.profile-image {
    /* width: 464px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    position:absolute;
    font-family: "Playfair Display";
    font-size: 80px;
    color: white;
    top: 39vw;
    left: 7vw;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.4);
}

.about-me-container {
    box-sizing: border-box;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self:center;
    gap: 35px;
    width: 758px;
    height: 516px;
    padding: 30px;
}

.header-text {
    font-family: "Playfair Display";
    font-size: 48px;
}

.summary {
    font-size: 26px;
    line-height: 1.5;
    color:rgb(78, 78, 77);
}

.contact-me {
    align-self:flex-end;
}

.project-flexbox {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 9.427%;
}

.project-container {
    box-sizing:border-box;
    height:510.4px;
    width:422.4px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-name {
    font-family: "Playfair Display";
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.project-description {
    margin: 0px 0px 0px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

.links {
    height: 30px;
    width: 30px;
    margin-right:auto;
}

footer {
    background-color: rgb(55, 143, 176);
    color:white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 1;
}

.contact-information {
    gap: 20px;
    font-size:26px;
    max-width:450px;
}

.footer-contact-icons-container {
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.footer-contact-icon {
    height: 50px;
    width: 50px;
}
/* for mobile phones */
@media only screen and (max-width: 500px) {
    .background-color {
        height: 40%;
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .profile-image {
        width: 85%;
    }
    .name {
        top:80vw;
        font-size: 15vw;
    }
    .about-me-container {
        width: 70%;
        height: auto;
        box-shadow: none;
        margin-top: 10px;
    }
    .project-flexbox {
        gap: 20px;
    }
    .project-container {
        width: 70%;
        max-width: 400px;
        height: auto;
    }
    footer {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 0px;
    }
    .contact-information {
        width: 85%;
    }
    .footer-contact-icons-container {
        justify-content: center;
    }
    .footer-image {
        width: 100%;
    }
}
/* for tablets */
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .background-color {
        height: 40%;
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .about-me-container {
        width: 90%;
        height: auto;
    }
    .project-container {
        width: 90%;
        height: auto;
    }
}