@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding:0;
    margin:0;
}

body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto";
}

.background-color {
    position:relative;
    background-color: rgb(55, 143, 176);
    height: 300px;
}

main {
    position:absolute;
    flex-grow: 1;
}

.header-text {
    font-family: "Playfair Display";
    font-size: 36px;
}

.project-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.contact-icon {
    height: 30px;
    width: 30px;
}

.links {
    height: 20px;
    width: 20px;
}

footer {
    background-color: rgb(55, 143, 176);
    color:white;
    display:flex;
    justify-content: space-evenly;
}

.footer-contact-icon {
    height: 50px;
    width: 50px;
}